<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div>
          <label for="id">ID:</label>
          <input id="id" formControlName="id" />
        </div>
        <div>
            <label for="teamName">Team Name:</label>
            <input id="teamName" formControlName="teamName" />
        </div>
        <div>
            <label for="projectName">projectName:</label>
            <input id="projectName" formControlName="projectName" />
        </div>
        <div>
            <label for="level">level:</label>
            <input id="level" formControlName="level" />
        </div>
        <div>
            <label for="participants">participants:</label>
            <input id="participants" formControlName="participants" />
        </div>
        <div>
            <label for="projectDescription">projectDescription:</label>
            <input id="projectDescription" formControlName="projectDescription" />
        </div>
        
        <button type="submit">Submit</button>
      </form>   
</body>
</html>